In [75]:
import pandas as pd
import numpy as np
import re

In [113]:
cases = pd.read_csv('csvs/justice2.csv')
judges = pd.read_csv('csvs/table_of_justices.csv')
presidents = pd.read_csv('csvs/presidents.csv')

In [116]:
judges['start_term'] = pd.to_datetime(judges['Supreme Court Term Start'])
judges['end_term'] = pd.to_datetime(judges['Supreme Court Term End'].replace("--","01-Mar-24"))

/var/folders/n1/t8qkhtv55nd_gfb_2gwkl_vw0000gn/T/ipykernel_42415/898508096.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  judges['end_term'] = pd.to_datetime(judges['Supreme Court Term End'].replace("--","01-Mar-24"))

In [117]:
judges.dtypes

Index                                int64
Justice Name                        object
Supreme Court Term Start            object
Supreme Court Term End              object
Appointing President                object
Notable Opinion(s)                  object
start_term                  datetime64[ns]
end_term                    datetime64[ns]
dtype: object

In [118]:
clean_judge_df = judges[['Justice Name','start_term', 'end_term', 'Appointing President']]

In [149]:
clean_judge_df['start_year'] = clean_judge_df['start_term'].dt.to_period('Y')
clean_judge_df['end_year'] = clean_judge_df['end_term'].dt.to_period('Y')

/var/folders/n1/t8qkhtv55nd_gfb_2gwkl_vw0000gn/T/ipykernel_42415/426193693.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_judge_df['start_year'] = clean_judge_df['start_term'].dt.to_period('Y')
/var/folders/n1/t8qkhtv55nd_gfb_2gwkl_vw0000gn/T/ipykernel_42415/426193693.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_judge_df['end_year'] = clean_judge_df['end_term'].dt.to_period('Y')

In [150]:
clean_judge_df

,Justice Name,start_term,end_term,Appointing President,start_year,end_year,president_last_name
0,"Jackson, Ketanji Brown(Associate Justice)",2022-06-30,2024-03-01,"Biden, Joseph R.",2022,2024,Biden
1,"Coney Barrett, Amy(Associate Justice)",2020-10-27,2024-03-01,"Trump, Donald J.",2020,2024,Trump
2,"Kavanaugh, Brett M.(Associate Justice)",2017-10-06,2024-03-01,"Trump, Donald J.",2017,2024,Trump
3,"Gorsuch, Neil M.(Associate Justice)",2017-04-10,2024-03-01,"Trump, Donald J.",2017,2024,Trump
4,"Kagan, Elena(Associate Justice)",2010-08-07,2024-03-01,"Obama, Barack H.",2010,2024,Obama
...,...,...,...,...,...,...,...
116,"Rutledge, John(Associate Justice)",1790-02-15,1791-03-05,"Washington, George",1790,1791,Washington
117,"Cushing, William(Associate Justice)",1790-02-02,1810-09-13,"Washington, George",1790,1810,Washington
118,"Blair, John(Associate Justice)",1790-02-02,1795-10-25,"Washington, George",1790,1795,Washington
119,"Jay, John(Chief Justice)",1789-10-19,1795-06-29,"Washington, George",1789,1795,Washington
120,"Wilson, James(Associate Justice)",1789-10-05,1798-08-21,"Washington, George",1789,1798,Washington

In [151]:
cases['term'][48]

Period('1970', 'A-DEC')

In [152]:
cases.term = pd.to_datetime(cases['term']).dt.to_period('Y')

TypeError: Passing PeriodDtype data is invalid. Use `data.to_timestamp()` instead

In [153]:
clean_judge_df['president_last_name'] = clean_judge_df['Appointing President'].str.extract('(\w*),', expand=True)

/var/folders/n1/t8qkhtv55nd_gfb_2gwkl_vw0000gn/T/ipykernel_42415/3928696604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_judge_df['president_last_name'] = clean_judge_df['Appointing President'].str.extract('(\w*),', expand=True)

In [154]:
clean_judge_df.dtypes

Justice Name                    object
start_term              datetime64[ns]
end_term                datetime64[ns]
Appointing President            object
start_year               period[A-DEC]
end_year                 period[A-DEC]
president_last_name             object
dtype: object

In [136]:
presidents['president_last_name']= presidents['President '].str.extract(r'\s(\w*)$')

In [137]:
presidents[['president_last_name','Party ']]

   president_last_name                                      Party
0           Washington                                Independent
1                Adams                                 Federalist
2            Jefferson                      Democratic-Republican
3              Madison                      Democratic-Republican
4               Monroe                      Democratic-Republican
5                Adams  Democratic-Republican/National Republican
6              Jackson                                 Democratic
7                Buren                                 Democratic
8             Harrison                                        Whig
9                Tyler                                        Whig
10                Polk                                 Democratic
11              Taylor                                        Whig
12            Fillmore                                        Whig
13              Pierce                                 Democratic
14            Buchanan                                 Democratic
15             Lincoln                   Republican/National Union
16             Johnson                   Democratic/National Union
17               Grant                                 Republican
18               Hayes                                 Republican
19            Garfield                                 Republican
20              Arthur                                 Republican
21           Cleveland                                 Democratic
22            Harrison                                 Republican
23                 NaN                                 Democratic
24            McKinley                                 Republican
25           Roosevelt                                 Republican
26                Taft                                 Republican
27              Wilson                                 Democratic
28             Harding                                 Republican
29            Coolidge                                 Republican
30              Hoover                                 Republican
31           Roosevelt                                  Democratic
32              Truman                                  Democratic
33          Eisenhower                                 Republican
34             Kennedy                                  Democratic
35             Johnson                                  Democratic
36               Nixon                                  Republican
37                Ford                                  Republican
38              Carter                                 Democratic
39              Reagan                                 Republican
40                Bush                                 Republican
41             Clinton                                 Democratic
42                Bush                                 Republican
43               Obama                               Democratic
44               Trump                                  Republican
45               Biden                                  Democratic

In [156]:
judge_parties = pd.merge(presidents,clean_judge_df)
judge_parties[['start_year', 'end_year', 'Party ']]

    start_year end_year         Party
0         1796     1800   Independent
1         1796     1811   Independent
2         1795     1795   Independent
3         1793     1806   Independent
4         1791     1793   Independent
..         ...      ...            ...
142       2009     2024  Democratic
143       2020     2024     Republican
144       2017     2024     Republican
145       2017     2024     Republican
146       2022     2024     Democratic

[147 rows x 3 columns]

In [157]:
a = cases.term.astype(int).values
bh = clean_judge_df.start_year.astype(int).values
bl = clean_judge_df.end_year.astype(int).values

i, j = np.where((a[:, None] >= bl) & (a[:, None] <= bh))

pd.concat([
    cases.loc[i, :].reset_index(drop=True),
    clean_judge_df.loc[j, :].reset_index(drop=True)
    ], axis=1)

Empty DataFrame
Columns: [Unnamed: 0, ID, name, href, docket, term, first_party, second_party, facts, facts_len, majority_vote, minority_vote, first_party_winner, decision_type, disposition, issue_area, Justice Name, start_term, end_term, Appointing President, start_year, end_year, president_last_name]
Index: []

[0 rows x 23 columns]

ValueError: Can only compare identically-labeled Series objects